* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	font-family: "Roboto";
	background-color: #34495e;
	color: #ecf0f1;
	overflow: hidden;
}

h1 {
	font-weight: 100;
	font-size: 120px;
}

#container {
	height: 100%;
	width: 100%;
}

#logo {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -156px;
	margin-top: -100px;
	z-index: 10;
}

#circle {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -225px;
	margin-top: -225px;
	width: 450px;
	height: 450px;
	border-radius: 50%;
	z-index: 3;
	background-color: #507191;
}

#circle-outline {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -385px;
	margin-top: -385px;
	width: 770px;
	height: 770px;
	border-radius: 50%;
	z-index: 2;
	background-color: #2c3e50;
	opacity: 0;
}

#scoreboard {
	position: absolute;
	bottom: 50px;
	left: 50px;
	width: auto;
	height: auto;
}

.score-item {
	height: 38px;
	width: 38px;
	border-style: solid;
	border-color: #2c3e50;
	border-width: 2px;
	margin-top: 8px;
	border-radius: 50%;
}

div.score-item p {
	font-weight: 300;
	font-size: 28px;
	margin-left: 52px;
}

#footer {
	position: absolute;
	bottom: 30px;
	left: 50%;
	font-size: 20px;
	font-weight: 300;
	opacity: 0;
}